body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('kobu-agency-67L18R4tW_w-unsplash.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}

#postForm p{
    text-align: center;
}

#postForm {
    border: 2px solid #000;
    height: 60%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 100px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#postTag {
    display: block;
    margin: 10px auto;
}

#submit {
    display: block;
    margin-top: 70px;
}