html {
    font-family: "Hack";
}

header {
    padding: 0em 2em;
}
header div {
    padding: 0em 1em;
}
#life {
    background-image: url("public/images/life.png");
    height:auto:
    width: 70%;
}

.center {
    flex: 1;
}

.sidebar {
    flex-grow: 0;
    flex-basis: 30%;

}
.center, .sidebar, .post{
    border: medium solid black;
}

.sidebar div {
    padding:1em;
}
.sidebar h2 {
    text-align: center;
    margin: 0.25em 0em
}

.center, .sidebar {
    margin: 2em 2em;
}

main {
    display: flex;
    height:auto;
    min-height:80vh;
    margin: 0em 4em;
}

main div {
}


.post {
    background-color:antiquewhite;
    margin:1em 0.5em;
    padding:1em;
}
.post p {
    border-bottom: 2px solid grey;
    word-break: break-all;
}

.post .interactionBar {
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}
.post div {
    padding: 0em;
}


#bestPost {
    margin: 0.5em 2em;
    border-bottom: 2px solid black;
}
#bestPost .post {
    max-height: 50%;
}



#query {
    font-size: 1em;
    text-align:center;
    border: 0;
    border-bottom: 2px solid black;
}
#submit {
    background-color: green;
    color: white;
    padding: 0.9em 0.9em 0.9em 0.9em;
    border-radius: 10px;
    border: 1px solid black;
}
.searchBar {
    display:flex;
    border-bottom: 2px dashed black;
}

.searchBar form, .searchBar .sorter {
    padding:0.5em;
    margin:auto;
}
form input {
    margin:0em 0.5em;
}

.sorter {

}
.sorter ul {
    list-style-type: none;
    display: flex;
}
.sorter li {
    margin: 0em 1em;
}

.sorter a {
    color: black;
    text-decoration: none;
}

.sorter  a:hover, .sorter #sortedBy {
    text-decoration: underline;
}



h1{
    font-size: 5em;
    color: green;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size:1.5em;
    font-weight:bold;

}

.navbar {
    display:flex;
    background-color: #26C6DA;


}
.spacer {
    flex:1;
}

.buttonBox {
    width:20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttonBox button {

}
button{
    background-color: green;
    color: white;
    padding: 0.9em 0.9em 0.9em 0.9em;
    border-radius: 10px;
    border: 1px solid black;
    cursor:pointer;
}
form #submit {
    cursor:pointer;
}

footer h4 {
    font-size: 3em;
    margin-left: 2em;

}

main {
    border: 1px solid black;
}

footer{
    background-color: #FB8C00;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5em;
}
footer h4{
    font-size: 2em;
}

.pfp {
    border: 3px solid darkgreen;
    border-radius: 50%;
    float: right;
}

form #delete {
    cursor:pointer;
    background-color: red;
    color: white;
    padding: 0.6em;
    margin: 0.1em;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
}

.interactionBar .arrow {
    border-radius: 10px;
    margin: 0px 0.1em;
    border: 1px solid black;
    cursor:pointer;
}
.report {
    color: blue;
    text-decoration: underline;
    cursor:pointer;
}
.reported {
    color: red;
    font-weight: bold;
    text-decoration: none;
    cursor: unset;
}
.adminReport {
    width: auto;

    margin: 0.5em;
    border: 1px solid black;
}

.del {
    cursor:pointer;
    background-color: red;
    color: white;
    padding: 0.6em;
    margin: 0.1em;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
}
.reportBar{
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.6em;
}
.dis {
    cursor:pointer;
    background-color: green;
    color: white;
    padding: 0.6em;
    margin: 0.1em;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
}

.adminReport p, .adminReport h2 {
     padding: 0.6em;
}
